<!--index头部左侧菜单-->
<script type="text/html" id="leftBar">
	<ul class="prosul clearfix">
		<li class="list">
			<%for(var i = 0; i<listData.length;i++){%>
				<%for(var j = 0; j<listData[i].left.length;j++){%>
					<a class="title" href="#"><%=listData[i].left[j]%></a><span>/</span>
				<%}%>
				<div class="prosmore hide">
							<ul class="prosmore-ul">
								<li class="nav-sub clearfix">
									<a href="#">咖啡</a>
									<i>&gt;</i>
									<ul>
										<li class="nav-item">
											<a href="#">咖啡粉</a>
										</li>

										<li class="nav-item">
											<a href="#">咖啡豆</a>
										</li>

									</ul>
								</li>
								<li class="nav-sub clearfix">
									<a href="http://www.biyao.com/classify/category.html?categoryId=628">
										休食
									</a>
									<i>&gt;</i>
									<ul>

										<li class="nav-item">
											<a href="http://www.biyao.com/classify/category.html?categoryId=630">
												坚果炒货
											</a>
										</li>

										<li class="nav-item">
											<a href="http://www.biyao.com/classify/category.html?categoryId=634">
												蜜饯果干
											</a>
										</li>

										<li class="nav-item">
											<a href="http://www.biyao.com/classify/category.html?categoryId=631">
												肉干肉脯
											</a>
										</li>

										<li class="nav-item">
											<a href="http://www.biyao.com/classify/category.html?categoryId=632">
												鸡蛋
											</a>
										</li>

										<li class="nav-item">
											<a href="http://www.biyao.com/classify/category.html?categoryId=644">
												酱
											</a>
										</li>

									</ul>
								</li>

								<li class="nav-sub clearfix">
									<a href="http://www.biyao.com/classify/category.html?categoryId=629">
										茶饮/冲调
									</a>
									<i>&gt;</i>
									<ul>

										<li class="nav-item">
											<a href="http://www.biyao.com/classify/category.html?categoryId=642">
												蜂蜜/柚子茶
											</a>
										</li>

										<li class="nav-item">
											<a href="http://www.biyao.com/classify/category.html?categoryId=643">
												汤料
											</a>
										</li>

										<li class="nav-item">
											<a href="http://www.biyao.com/classify/category.html?categoryId=633">
												普洱
											</a>
										</li>

										<li class="nav-item">
											<a href="http://www.biyao.com/classify/category.html?categoryId=635">
												白茶
											</a>
										</li>

										<li class="nav-item">
											<a href="http://www.biyao.com/classify/category.html?categoryId=636">
												红茶
											</a>
										</li>

										<li class="nav-item">
											<a href="http://www.biyao.com/classify/category.html?categoryId=638">
												乌龙茶
											</a>
										</li>

										<li class="nav-item">
											<a href="http://www.biyao.com/classify/category.html?categoryId=639">
												咖啡豆
											</a>
										</li>

										<li class="nav-item">
											<a href="http://www.biyao.com/classify/category.html?categoryId=640">
												咖啡粉
											</a>
										</li>

									</ul>
								</li>

								<li class="nav-sub clearfix">
									<a href="http://www.biyao.com/classify/category.html?categoryId=590">
										近视眼镜
									</a>
									<i>&gt;</i>
									<ul>

										<li class="nav-item">
											<a href="http://www.biyao.com/classify/category.html?categoryId=591">
												成人款
											</a>
										</li>

									</ul>
								</li>

								<li class="nav-sub clearfix">
									<a href="http://www.biyao.com/classify/category.html?categoryId=604">
										太阳镜
									</a>
									<i>&gt;</i>
									<ul>

										<li class="nav-item">
											<a href="http://www.biyao.com/classify/category.html?categoryId=607">
												近视太阳镜
											</a>
										</li>

										<li class="nav-item">
											<a href="http://www.biyao.com/classify/category.html?categoryId=605">
												平光太阳镜
											</a>
										</li>

									</ul>
								</li>

								<li class="nav-sub clearfix">
									<a href="http://www.biyao.com/classify/category.html?categoryId=593">
										老花镜
									</a>
									<i>&gt;</i>
									<ul>

										<li class="nav-item">
											<a href="http://www.biyao.com/classify/category.html?categoryId=594">
												成人款
											</a>
										</li>

									</ul>
								</li>

								<li class="nav-sub clearfix">
									<a href="http://www.biyao.com/classify/category.html?categoryId=596">
										防蓝光护目镜
									</a>
									<i>&gt;</i>
									<ul>

										<li class="nav-item">
											<a href="http://www.biyao.com/classify/category.html?categoryId=597">
												成人款
											</a>
										</li>

									</ul>
								</li>

								<li class="nav-sub clearfix nav-lastSub">
									<a href="http://www.biyao.com/classify/category.html?categoryId=599">
										运动眼镜
									</a>
									<i>&gt;</i>
									<ul>

										<li class="nav-item">
											<a href="http://www.biyao.com/classify/category.html?categoryId=600">
												泳镜
											</a>
										</li>

										<li class="nav-item">
											<a href="http://www.biyao.com/classify/category.html?categoryId=601">骑行镜</a>
										</li>

									</ul>
								</li>

							</ul>

						</div>
					
				
			<%}%>
			<!--<a class="title" href="#">美食</a><span>/</span>
			<a class="title" href="#">地方菜</a><span>/</span>
			<a class="title" href="#">火锅</a>-->
			
		</li>
	</ul>

</script>
