.cartContent {
    margin: 5px auto 0;
    .checkoutTable {
        background-color: #fff;
        position: relative;
        .select {
            position: absolute;
            left: 21px;
            top: 14px;
            display: block;
            width: 16px;
            cursor: pointer;
            height: 16px;
            //          &.none {
            //              background: url(http://www.sephora.cn/soa/bundle/module_input_checkbox.png) no-repeat -28px 0;
            //          }
        }
        .checkoutHeader {
            height: 47px;
            line-height: 47px;
            width: 100%;
            padding: 0;
            box-sizing: border-box;
            padding: 0 40px 0 60px;
            border-bottom: 1px solid #eee;
            .checkoutTableHeader {
                display: inline-block;
                color: #333;
                padding: 0;
            }
            .checkAll {
                width: 14%;
            }
            .productInfo {
                width: 31%;
            }
            .productPrice {
                width: 14%;
                text-align: center;
            }
            .productNumber {
                width: 14%;
                text-align: center;
            }
            .productSubtotal {
                width: 14%;
                text-align: center;
            }
            .control {
                width: 8%;
                text-align: center;
            }
        }
        .Infocontent {
            height: 150px;
            box-sizing: border-box;
            position: relative;
            border-bottom: 1px solid #eee;
            .select {
                position: absolute;
                top: 50%;
                margin-top: -5px;
            }
            ul {
                padding: 0 40px 0 60px;
                li {
                    //                  border: 1px solid red;
                    display: inline-block;
                    line-height: 150px;
                    vertical-align: middle;
                    &.checkAll {
                        width: 14%;
                        .infoImg {
                            box-sizing: border-box;
                            display: inline-block;
                            line-height: 150px;
                            position: relative;
                            img {
                                width: 80%;
                            }
                        }
                    }
                    &.productInfo {
                        vertical-align: middle;
                        color: #000;
                        line-height: 12px;
                        width: 31%;
                        display: inline-block;
                        h5 {
                            font-weight: 700;
                            margin-bottom: 10px;
                            cursor: pointer;
                        }
                        a {
                            margin-bottom: 10px;
                            cursor: pointer;
                            color: #aaa;
                            font-size: 12px;
                            display: inline-block;
                        }
                        p {
                            color: #666;
                        }
                    }
                    &.productPrice {
                        width: 14%;
                        text-align: center;
                    }
                    &.productNumber {
                        width: 14%;
                        text-align: center;
                        .input-group {
                            width: 90%;
                            margin: auto;
                            .input-group-addon {
                                background: none;
                                cursor: pointer;
                            }
                            input {
                                padding: 0;
                                background: #FFFFFF;
                                text-align: center;
                            }
                        }
                    }
                    &.productSum {
                        width: 14%;
                        text-align: center;
                    }
                    &.pount {
                        text-align: center;
                        padding: 0 2.6%;
                        span {
                            width: 19px;
                            height: 19px;
                            display: block;
                            cursor: pointer;
                            background: url(http://www.sephora.cn/soa/bundle/checkout_icon.png) no-repeat 0 0;
                        }
                    }
                }
            }
            &:last-child{
                border-bottom: none;
            }
        }
    }
    .checkoutFooter {
        height: 60px;
        width: 100%;
        background: #FFFFFF;
        margin-top: 20px;
        p {
            line-height: 60px;
            font-size: 16px;
            color: #333333;
            span {
                color: #000000;
                font-weight: 600;
                &.pay {
                    display: block;
                    background: #e00;
                    width: 60%;
                    color: #ffffff;
                    line-height: 40px;
                    font-size: 16px;
                    margin-top: 10px;
                    vertical-align: middle;
                    text-align: center;
                    float: right;
                }
            }
        }
    }
}