<!--底部公用部分-->
<!--<script id="footerTemp" type="text/html">

</script>-->
<div class="footer-server">
	<ul>
		<li>
			<div class="server-make">
				<img src="http://static.biyao.com/pc/common/img/master/serve-make.png?v=biyao_af9ffe1" />
			</div>
			<div class="server-text">直连一线制造</div>
		</li>
		<li>
			<div class="server-make">
				<img src="http://static2.biyao.com/pc/common/img/master/serve-backage.png?v=biyao_e2de7c6" />
			</div>
			<div class="server-text">全品类包邮</div>
		</li>
		<li>
			<div class="server-make">
				<img src="http://static4.biyao.com/pc/common/img/master/serve-pay.png?v=biyao_77dd9d9" />
			</div>
			<div class="server-text">平台先行赔付</div>
		</li>
		<li>
			<div class="server-make">
				<img src="http://static1.biyao.com/pc/common/img/master/serve-refund.png?v=biyao_2c6f2c2" />
			</div>
			<div class="server-text">7天无忧退换货</div>
		</li>
	</ul>

</div>
<div class="footer-main">
	<ul class="footer-detail">
		<li class="detail-info">
			<h2>帮助中心</h2>
			<ul>
				<li>
					<a href="#">平台政策</a>
				</li>
				<li>
					<a href="#">商家入驻</a>
				</li>
			</ul>
		</li>
		<li class="detail-info">
			<h2>关注必要</h2>
			<ul>
				<li class="footer-wxCode">
					<a href="#">官方微信</a>
					<div><i></i><span></span></div>
				</li>
				<li>
					<a href="#">新浪微博</a>
				</li>
			</ul>
		</li>
		<li class="detail-info">
			<h2>关于必要</h2>
			<ul>
				<li>
					<a href="#">了解必要</a>
				</li>
				<li>
					<a href="#">加入必要</a>
				</li>
				<li>
					<a href="#">联系我们</a>
				</li>
			</ul>
		</li>
		<li class="detail-info">
			<h2>下载必要app</h2>
			<ul>
				<li>
					<p>
						<img src="http://static2.biyao.com/pc/common/img/master/app.png?v=biyao_41bce2f" />
					</p>
				</li>
			</ul>
		</li>
	</ul>
</div>
<div class="footer-info">
	<p>
		<span>Copyright © 2018, BIYAO.COM</span>
		<span>珠海必要科技有限公司</span>
		<span>粤网文〔2018〕0969-419号</span>
		<span><img src="http://static2.biyao.com/pc/www/img/footer/ghs.png?v=biyao_d0289dc"/>粤公网安备44049102496139号</span>
		<span>粤ICP备13088531号-2</span>
	</p>
	<p>
		<span><a href="#">互联网药品信息服务资格证书</a></span>
		<span><a href="#">食品经营许可证</a></span>
	</p>
	<p>
		<span>公司地址：珠海市唐家湾镇哈工大路1号1栋E301-15</span>
		<span>公司电话：0756-3635580</span>
	</p>
	<p>
		<span>必要商城提示您，产品“由某制造商出品”仅为陈述制造商既往生产经历，并不意味着相应产品与特定品牌产品相同或近似。</span>
	</p>
</div>